# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\PychramRoot\DFT_data_aug\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
